:root {
    //Основний колір тексту
    --main-text-color: #696969;

    //Додатковий колір тексту
    --second-text-color: #212121;

    //Акцентний колір 
    --accent-color: #01A3A4;

    //Колір тексту кнопки
    --text-color-white: #fff;

    --second-bg-color: #F0F8F6;

     // card-set
     --indent: 10px;
     --items: 2;
}