.blog{
display: flex;
flex-direction: column;

&__list{
    padding-bottom: 30px;

    &--item{
        border: 1px solid #F0F8F6;
    }

    &--item-desc{
        @media screen and (max-width: 1279px) {
            display: none;
        }
    }

    @media screen and (min-width: 1280px) {
        display: flex;
        gap: 10px;
        align-items: center;
    }
}
    &__title{
        margin-bottom: 25px;
    }
    
    &__img{
        width: 100%;
    }

    &__subtitle{
        color: #000;
        font-family: 'Advent Pro', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.9px;
margin-bottom: 18px;
    }

&__wrapp{
    padding: 40px;
}

&__line{
    margin-bottom: 20px;
}

&__desc{
color: var(--main-text-color);
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 150%;
margin-bottom: 20px;

@media screen and (min-width: 1280px) {
    margin-bottom: 37px;
}
}

&__link{
    display: flex;
    gap: 5px;
    align-items: center;
border-radius: 50px;
background: #F0F8F6;
padding: 4px;
color: #01A3A4;
text-align: center;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.6px;
text-transform: uppercase;

&--pluss{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
height: 22px;
color: var(--text-color-white);
font-size: 18px;
border-radius: 50%;
background: linear-gradient(297deg, #74E6CF 0%, #C0E594 100%);
}
}

&__link-wrapp{
    display: flex;
    justify-content: end;
}

&__slider{
display: flex;
gap: 10px;
align-items: center;
margin-top: 25px;
padding: 0 53px;

@media screen and (min-width: 1280px) {
    display: none;
}

&--line.active{
width: 214px;
height: 2px;
background-color: #74E6CF;
}

&--line{
    width: 214px;
height: 2px;
background-color: rgba(240, 248, 246, 1);
}
}
}