.posts{
    background-color: #F0F8F6;

    &__desc{
        color: var(--accent-color);
text-align: center;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.2px;
text-transform: uppercase;
margin-bottom: 10px;
    }

    &__title{
        margin-bottom: 10px;
    }
}

.posts__list--item__img{
    width: 100%;
}