.reviews{


    &__desc{
        text-align: center;
color: #01A3A4;
font-family: 'Roboto', sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.2px;
text-transform: uppercase;
margin-bottom: 10px;

@media screen and (min-width: 1280px){
    text-align: left;
    letter-spacing: 3.5px;
}
    }

    &__title{
        margin-bottom: 10px;

        @media screen and (min-width: 1280px) {
            color: #000;
font-family: Bebas Neue;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: left;
        }
    }

    &__customer{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

     &--img{
     border-radius: 50%;
     overflow: hidden;
     object-fit: cover;

  
     }
    }

    &__info--wrapp{
        display: flex;
        align-items: center;
        gap: 10px;
        z-index: 999;
        margin-left: -25px;
        margin-top: 15px;
        
}
    

    &__stars-wrapp{
        display: flex;
        gap: 5px;
        align-items: center;
        
    }

    &__customer--rating{
        color: #E5E5E5;
        font-family: 'Roboto', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 180%;
    }

    &__line{
        margin: 0 auto;
        margin-bottom: 15px;
    }

    &__text{
        color: var(--main-text-color);
        font-family: 'Roboto', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%;
max-height: 147px;
overflow: scroll;
overflow-x: hidden;
    }

    &__arrow-wrapp{
        display: flex;
        justify-content: center;
        margin-top: 15px;
        gap: 14px;

        &--btn{
            width: 22px;
height: 22px;
border-radius: 50%;
background: linear-gradient(297deg, #74E6CF 0%, #C0E594 100%);
padding: 10px;
border: 5px solid #F0F8F6;
color: var(--text-color-white);
position: relative;

&__img{
    color: var(--text-color-white);
    width: 11px;
    height: 11px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
        }
    }

    
}

.reviews__text::-webkit-scrollbar {
    width: 5px;
  }

  .reviews__text::-webkit-scrollbar-track {
    background-color: rgba(192, 229, 148, 1);
    scrollbar-width: 1px;
  }

  .reviews__text::-webkit-scrollbar-thumb {
  background-color: rgba(116, 230, 207, 1),;
  }

  .mobile-rewievs{
    @media screen and (min-width: 1280px) {
        display: none;
    }
  }

  .rewievs-desc{
    @media screen and (max-width: 1279px) {
        display: none;
    }
    
    
    &__name-wrapp{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    &__reting-wrapp{
        display: flex;
        gap: 5px;
        align-items: center;
    }

    &__line{
        margin-bottom: 30px;
    }

    &__text-wrapper{
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow: scroll;
overflow-x: hidden;
    }

    &__text{
        margin-right: 53px;
    }

    &__desc{
        color: #01A3A4;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 3.5px;
text-transform: uppercase;
    }

    &__title{
        color: #000;
font-family: Bebas Neue;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
    }

    &__wrapp{
        display: flex;
        align-items: center;
        gap: 97px;
    }

    &__arrow-wrapp{
        margin-top: 60px;
    }
  }

  .rewievs-desc__text-wrapper::-webkit-scrollbar {
    width: 5px;
  }

  .rewievs-desc__text-wrapper::-webkit-scrollbar-track {
    background-color: rgba(192, 229, 148, 1);
    scrollbar-width: 1px;
  }

  .rewievs-desc__text-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(116, 230, 207, 1),;
  }